@charset "utf-8";

/* font */
/* 눈누폰트 : 어비 세현체 https://noonnu.cc/font_page/187 */
@font-face {
    font-family: 'UhBeeSe_hyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 눈누폰트 : IM 혜민체 https://noonnu.cc/font_page/686 */
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'UhBeeSe_hyun'; */
    cursor: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.clearfix::after, .clearfix::before{
    clear: both;
    display: block;
    content: "";
}
body{
    background-color: #FFF8ED;
}

/* container */
.container{
    margin: 0 auto;
    width: 1440px;
    height: inherit;
    position: relative;
}


/* parallax */
.parallax-window {
    /* 패럴랙스 이미지의 높이 설정 */
    min-height: 500px;
    /* 패럴랙스 이미지의 배경 설정 */
    background: transparent;
}

/* cursor */
.cursor{
    width: 50px;
    height: 50px;
    background: url(../images/menu_hover1.png) no-repeat center center;
    background-size: cover;
    user-select: none;
    pointer-events: none;
    position: fixed;
    left: -40px;
    top: -40px;
    z-index: 999999;
}


/* -------------------------------------------------------------------------- */

/* header */
.header {
    /* position: fixed; */
    width: 100%;
    height: 150px;
    /* top: 0; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    background-color: #FFF8ED;
    transition: all 0.5s;
    z-index: 98;
}
.header.on {
    height: 100px;
}
.header.on .logo img {
    margin-top: 7px;
}
.header.on .menu_bar {
    margin-top: 35px;
}
.header.on .menu_bar2 img {
    margin-top: 38px;
}
.logo img {
    margin-top: 32px;
    float: left;
    width: 200px;
    margin-bottom: 32px;
    transition: all 0.5s;
}
.nav{
    float: right;
    overflow: hidden;
    width: 21%;
}
.menu_bar {
    float: left;
    margin-top: 7vh;
    transition: all 0.5s;
}
.menu_bar a{
    float: left;
}

.menu_bar span {
    font-family: 'UhBeeSe_hyun';
    font-size: 1vw;
    line-height: 1vw;
}
.menu_login{
    margin-right: 6vw;
}
.menu {
    width: 340px;
    height: 100vh;
    background-color: #FFF3E1;
    position: fixed;
    right: -340px;
    top: 0;
    /* display: none; */
    border-radius: 50px 0 0 50px;
    transition: all 0.5s;
    z-index: 99999;
}
.menu.on {
    right: 0px;
}
.menu_btn img {
    width: 1.5vw;
    float: right;
    margin-top: 7vh;
    margin-right: 1vw;
    transition: all 0.5s;
}
.menu_title {
    display: block;
    text-align: center;
    font-size: 1.3vw;
    line-height: 10vh;
    font-family: 'UhBeeSe_hyun';
}
.menu a i {
    position: absolute;
    bottom: 2.5vh;
    left: 1.2vw;
    font-size: 2vw;
}
.menu_list {
    font-family: 'UhBeeSe_hyun';
}
.menu_list li {
    text-align: center;
    height: 8vh;
    line-height: 8vh;
    background-color: #f9bf98;
    position: relative;
}
.menu_list li:hover {
    background-color: #e7b08b;
}
.menu_list li::after {
    content: "";
    position: absolute;
    left: 0;
    top: -40%;
    width: 2.5vw;
    height: 5vh;
    background: url(../images/menu_hover1.png) no-repeat center center;
    background-size: cover;
    display: none;
    /* transition: all 0.4s; */
}
.menu_list li::before {
    content: "";
    position: absolute;
    right: 10%;
    bottom: 50%;
    transform: translateY(50%);
    width: 2.8vw;
    height: 3.4vh;
    background: url(../images/menu_hover2.png) no-repeat center center;
    background-size: cover;
    display: none;
    /* transition: all 0.4s; */
}
.menu_list li:hover::after,
.menu_list li:hover::before {
    display: block;
}
.menu_list li a {
    font-size: 0.9vw;
    display: block;
}



/* about */
#about img{
    width: 0;
}
#about .ab_tit{
    font-size: 2.6vw;
    margin: 40px auto;
    font-family: 'UhBeeSe_hyun';
    font-weight: bold;
    /* display: inline-block; */
    position: relative;
    width: fit-content;
}
#about .ab_tit:hover{
    color: #fc8059;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.underline{
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.8s;
}
.underline.white {
    background-image: linear-gradient(transparent 60%, #f8b385 40%);
}
.underline:hover {
    background-size: 100% 100%;
}
#ab_text{
    font-family: 'IM_Hyemin-Bold';
    font-size: 2.1vw;
    letter-spacing: 1.5px;
    position: absolute;
    height: 250px;
    padding: 30px;
}

#about .ab_bgtext{
    opacity: 0.6;
    font-family: 'IM_Hyemin-Bold';
    font-size: 2.1vw;
    letter-spacing: 1.5px;
    position: relative;
    top: 0;
    left: 0;
    height: 65vh;
    display: block;
    padding: 30px;
}

#ab_concept{
    font-family: 'IM_Hyemin-Bold';
    font-size: 2.1vw;
    height: 250px;
    position: absolute;
    letter-spacing: 1.5px;
    padding: 30px;

}


/* footer */
.footer{
    font-family: 'UhBeeSe_hyun';
    height: 160px;
    margin-top: 10%;
}
.footer .f_logo{
    margin-right: 5rem;
}
.footer img{
    height: 80px;
    margin-top: 50px;
}
.footer div{
    float: left;
    color: #545454;
    font-size: 0.75rem;
}
.footer .f_menu{
    margin-top: 10px;
    width: 80%;
}
.footer .f_menu a{
    color: #545454;
    display: inline-block;
    height: 60px;
    text-align: center;
    line-height: 60px;
    padding: 0 30px;
}
.footer .f_made{
    width: 80%;
}
.footer .f_made p{
    display: inline;
    padding: 0 20px;
}
.footer .f_made p:first-child{
    margin-left: 10px;
}
.footer .f_sns{
    float: right;
}
.footer .f_copy{
    margin-top: 20px;
    padding-left: 30px;
}
.footer i{
    font-size: 30px;
    margin-right: 32px;
    color:  rgb(252, 128, 89);
}
.footer i:last-child{
    margin-right: 0;
}